/*------------------------------------------------------------------------*\
        >>  text style (Typography)
\*------------------------------------------------------------------------*/
.hide_txt {
	@include hide_txt;
}

@each $i,
$size in $txt-size {
	.txt-#{$i} {
		// @extend %txt-common-style;
		@include remCalc(font-size, $size);

		@if $size > 16 {
			@include media-down(md) {
				@include remCalc(font-size, $size * 0.8);
			}
		}

	}
}

%txt-common-style {
	font-weight   : 400;
	letter-spacing: 2px;
}

.handwriting {
	font-family: "jf-liao";
}

.txt-section-title {
	@extend .txt-h2;
	@extend %txt-common-style;
	line-height: 1.5;
	text-shadow: 0 0 10px rgba(#fff, 0.5);

	&.handwriting {
		@include remCalc(font-size, map-get($txt-size, 'h2') * 1.5);

		@include media-down(md) {
			@include remCalc(font-size, map-get($txt-size, 'h2') * 1.2);
		}
	}
}

.txt-headline1 {
	@extend .txt-h1;
	letter-spacing: 2px;
}
.txt-headline2 {
	@extend .txt-h2;
	@extend %txt-common-style;
	line-height: 1.5;

	&.handwriting {
		@include remCalc(font-size, map-get($txt-size, 'h2') * 1.5);
		line-height: 1.5;

		@include media-down(md) {
			@include remCalc(font-size, map-get($txt-size, 'h2') * 1.2);
		}
	}
}
.txt-headline3 {
	@extend .txt-h3;
	@extend %txt-common-style;
	line-height: 2;

	&.handwriting {
		@include remCalc(font-size, map-get($txt-size, 'h3') * 1.5);
		line-height: 1.5;

		@include media-down(md) {
			@include remCalc(font-size, map-get($txt-size, 'h3') * 1.2);
		}
	}
}
.txt-headline4 {
	@extend .txt-h4;
	@extend %txt-common-style;
	line-height: 2;


	&.handwriting {
		@include remCalc(font-size, map-get($txt-size, 'h4') * 1.5);
		line-height: 1.5;

		@include media-down(md) {
			@include remCalc(font-size, map-get($txt-size, 'h4') * 1.2);
		}
	}
}


@each $name,
$color in $colors {
	.txt-#{$name} {
		color: $color;
	}
}

// .txt-heading-vertical {
//     writing-mode: vertical-lr;
//     letter-spacing: 10px;
//     line-height: 24px;
//     font-size: 1rem;
//     font-weight: 300;
//     white-space: nowrap;

//     @include absolute(0, $L:0);
//     margin: 0;
//     padding-left: 1rem;

//     color: color("secondary");

//     &:before {
//         @include psudoClass;
//         @include absolute(-4, $L:0);
//         width: 1px;
//         height: 100%;
//         background-color: color("brand");
//         margin-right: 1rem;
//     }
// }

// .txt-heading-horizontal {
//     display: inline-block;
//     color: color("secondary");
//     border-bottom: 1px solid color("brand");
//     padding-bottom: 0.5rem;

//     &.style1 {
//         border-bottom: none;
//         border-left: 1px solid color("brand");
//         padding-left: 1rem;
//     }
// }


// .txt-paragraph_heading {
//     padding-left: 1rem;
//     border-left: 1px solid color("secondary");
//     @include remCalc(font-size, 24);
//     @extend %txt-common-style;
// }