<div class="page_section-inner">
	<div class="container">
		<div class="page_section-heading text-center no-effect">
			<h2 class="title txt-section-title handwriting">「我好愛爸爸，以前很愛笑，對我很好…雖然我現在很怕看到他、聽到他吼叫…但是…我還是很愛他…」</h2>
			<p class="txt txt-headline4 ">各種拉扯下的處境，可能不是外人可以了解全貌。<br>不批評、少責難，請給與多一些些的同理、時間和耐心，讓每個受傷的故事都可以有機會被聆聽，陪伴他們走出困境。</p>
		</div>

		<div class="page_section-content">
			<div class="btns">
				<a href="https://bit.ly/3DiMxdN" target="_blank" class="link {{ PROJECT_NAME }}_btn" data-icon="{{IMG_PATH}}/svgicons/icon-btn.svg">
					<span class="txt">什麼是家庭暴力</span>
				</a>
				<a href="https://bit.ly/3lt7Ao1" target="_blank" class="link {{ PROJECT_NAME }}_btn" data-icon="{{IMG_PATH}}/svgicons/icon-btn.svg">
					<span class="txt">關於目睹暴力孩子</span>
				</a>
			</div>
		</div>
	</div>
</div>