<div class="page_section-inner">
	<div class="container">
		<div class="page_section-heading text-center no-effect">
			<p class="txt txt-headline3 ">
				離開了，我會更危險…
				<br>我沒有錢怎樣養小孩…
				<br>我想要給孩子一個完整的家，沒有爸爸會被欺負…
				<br>他會威脅要殺了我的家人…
				<br>小孩在他手上，我不能不帶走…
				<br>我無法擺脫他的糾纏，離開是不可能的…
				<br>他應該會改吧…？
				<br>…我不知道誰可以幫我…
				<br>我不知道該怎麼辦…？
			</p>
		</div>
	</div>
</div>