<div class="bg" style="background-image: url(public/images/chapter2/bg-stars-01.jpg);"></div>
<div class="bg mobile-bg" style="background-image: url(public/images/chapter2/bg-stars-01-m.jpg);"></div>
<div class="page_section-inner">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-5 offset-md-7">
				<div class="chapter2-store-txt">
					<p class="txt txt-headline3 ">「…我怕上學的時候，媽媽會不會遇到危險？我想留在家保護媽媽…」<br><br>時時刻刻的擔心害怕讓樂樂無法去上學。</p>
				</div>
			</div>
		</div>
	</div>
</div>