
<div class="page_section-inner">
	<div class="container">
		<div class="page_section-heading text-center no-effect">
			<p class="mid-txt title txt-section-title txt-headline3 text-left">
				我有個秘密，誰都不能說…<br>
				我的害怕、我的恐懼、我的擔心，都只能藏在心中，我只能偷偷告訴呼呼。<br>
				我不想上學，我不敢開門，我無法睡覺…我的指甲沒有一片是好的。<br>
				<br>
				我怕我去上學，媽媽會不見，<br>
				我不敢開門，不知道開門後是什麼景象，<br>
				我無法睡覺，閉上眼腦中都是咆嘯聲音…<br>
				<br>
				我跟呼呼說：「我們都是外星球來的孩子，爸爸應該在宇宙還沒來接我們…」<br>
				這是我和呼呼的秘密。<br>
				那，你有秘密嗎？<br>
			</p>
			<div class="store-footer">
				<p class="txt txt-headline4">目睹家暴的孩子長年活在無助、恐懼和自責中，卻無力改變家庭現況，也不敢跟別人說，身心深受煎熬。</p>
			</div>
		</div>
	</div>
</div>