<div class="bg" style="background-image: url(public/images/chapter2/bg-stars-02.jpg);"></div>
<div class="bg mobile-bg" style="background-image: url(public/images/chapter2/bg-stars-02-m.jpg);"></div>
<div class="page_section-inner">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-5 offset-md-7">
				<div class="chapter2-store-txt">
					<p class="txt txt-headline3 ">「…只要有人大力關門，碰！一聲…那天的畫面，就又浮現在我腦中，我的手就一直抖一直抖……」</p>
				</div>
			</div>
		</div>
	</div>
</div>