
<div class="page_section-inner">
	<div class="container">
		<div class="page_section-heading text-center no-effect">
			<h2 class="title txt-section-title">怎樣幫助與陪伴</h2>
			<ul class="lis-n how-to-list">
				<li class="how-to-item item-1">
					<div class="star" data-icon="public/images/star02.svg">
						<div class="inner">
							<div class="icon" data-icon="public/images/svgicons/icon-home.svg"></div>
							<div class="txt txt-headline3">安全協助</div>
						</div>
					</div>

					<div class="how-to-item-explanation">
						由專業社工進行整體評估，依個別需求提供被害人深度服務，協助受暴家庭庇護、擬定安全計劃和聲請保護令，遠離家暴威脅
					</div>
				</li>
				<li class="how-to-item item-2">
					<div class="star" data-icon="public/images/star02.svg">
						<div class="inner">
							<div class="icon" data-icon="public/images/svgicons/icon-letter.svg"></div>
							<div class="txt txt-headline3">身心療癒</div>
						</div>
					</div>

					<div class="how-to-item-explanation">
						由專業社工進行整體評估，依個別需求提供被害人深度服務，協助受暴家庭庇護、擬定安全計劃和聲請保護令，遠離家暴威脅
					</div>
				</li>
				<li class="how-to-item item-3">
					<div class="star" data-icon="public/images/star02.svg">
						<div class="inner">
							<div class="icon" data-icon="public/images/svgicons/icon-love.svg"></div>
							<div class="txt txt-headline3">關係輔導</div>
						</div>
					</div>
					<div class="how-to-item-explanation">
						由專業社工進行整體評估，依個別需求提供被害人深度服務，協助受暴家庭庇護、擬定安全計劃和聲請保護令，遠離家暴威脅
					</div>
				</li>
				<li class="how-to-item item-4">
					<div class="star" data-icon="public/images/star02.svg">
						<div class="inner">
							<div class="icon" data-icon="public/images/svgicons/icon-lifebuoy.svg"></div>
							<div class="txt txt-headline3">危難救助</div>
						</div>
					</div>

					<div class="how-to-item-explanation">
						由專業社工進行整體評估，依個別需求提供被害人深度服務，協助受暴家庭庇護、擬定安全計劃和聲請保護令，遠離家暴威脅
					</div>
				</li>
				<li class="how-to-item item-5">
					<div class="star" data-icon="public/images/star02.svg">
						<div class="inner">
							<div class="icon" data-icon="public/images/svgicons/icon-social-care.svg"></div>
							<div class="txt txt-headline3">預防教育</div>
						</div>
					</div>

					<div class="how-to-item-explanation">
						由專業社工進行整體評估，依個別需求提供被害人深度服務，協助受暴家庭庇護、擬定安全計劃和聲請保護令，遠離家暴威脅
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>