<div class="bg" style="background-image: url(public/images/chapter2/bg-stars-04.jpg);"></div>
<div class="bg mobile-bg" style="background-image: url(public/images/chapter2/bg-stars-04-m.jpg);"></div>
<div class="page_section-inner">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-5 offset-md-7">
				<div class="chapter2-store-txt">
					<p class="txt txt-headline3">平常生活中的人事物，都隨時可能會讓他們陷入創傷中，讓受創的記憶重現；可能是一段音樂、某個影像、聞到的氣味或是身體的感覺。</p>
				</div>
			</div>
		</div>
	</div>
</div>