
<div class="page_section-inner">
	<div class="container">
		<div class="page_section-heading text-center no-effect">
			<p class="title txt-section-title handwriting">擔心害怕、沮喪、憂鬱、挫折、低自尊、沒自信、無法下決定、失去生活目標、做惡夢、失眠、不安…</p>
		</div>
	</div>
</div>