<div class="page_section-inner">
	<div class="container">
		<div class="page_section-heading text-center no-effect">
			<h2 class="title txt-section-title handwriting">「為何不離開？」很多人會問。<br>其實，離開並不是只要「下定決心」這麼簡單。</h2>
		</div>
	</div>
</div>