<div class="bg" style="background-image: url(public/images/chapter2/bg-stars-07.jpg);" ></div>
<div class="bg mobile-bg" style="background-image: url(public/images/chapter2/bg-stars-07-m.jpg);"></div>
<div class="page_section-inner" >
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-5 offset-md-7">
				<div class="chapter2-store-txt">
					<p class="txt txt-headline3 drechifont">他們雖然身上看不見傷，也不願承認受傷，他們的心都已傷痕累累，但這些傷，也往往最容易被忽略…</p>
				</div>
			</div>
		</div>
	</div>
</div>