<div class="page_section-inner">
	<div class="container">
		<div class="page_section-heading text-center no-effect">
			<h2 class="title txt-section-title handwriting">只有呼呼 知道我的秘密、是我的救贖</h2>
			<p class="txt txt-headline4 ">在台灣，每3分鐘就有一件家暴通報，隱忍的黑數還可能更多；<br>一年有超過15萬的孩子生活在恐懼之中，身心的創傷，讓他們默默承擔無法開口。<br>他們不能說，也說不出口家中的秘密，只能與陪伴他長大的玩偶分享。</p>
		</div>
	</div>
</div>