
<div class="page_section-inner">
	<div class="container">
		<div class="page_section-heading text-center no-effect">
			<p class="title txt-section-title handwriting">身體的傷口或許可用藥物醫治，心理的傷痛卻是藥物無法療癒…</p>
		</div>
	</div>
</div>