
<div class="bg" style="background-image: url(public/images/header02_bg.jpg);"></div>
<div class="page_section-inner">

	<div class="page_section-heading text-center">
		<h2 class="title-txtimg hide_txt" style="background-image: url(public/images/header02_title.png);">消失的星星</h2>
	</div>

</div>

<div class="narrate">
	<p class="txt txt-headline4 handwriting">孩子的笑容，是夜空閃爍的星光，一閃一閃亮晶晶<br>那個媽媽哭泣的夜晚，星星也慢慢失去蹤影…<br>原本在心中閃爍的微弱星光，慢慢地、慢慢地  失去光芒…<br>有些傷痛，在心中卻無法說出口。</p>
</div>