
<div class="page_section-inner">
	<div class="container">
		<div class="page_section-heading text-center no-effect">
			<p class="title txt-section-title handwriting">
				受傷了，沒有關係，每個人都會受傷，
				<br>每個傷痛都需要好好被照顧、被修復。
			</p>
		</div>
	</div>
</div>