<div class="bg" style="background-image: url(public/images/chapter2/bg-stars-05.jpg);"></div>
<div class="bg mobile-bg" style="background-image: url(public/images/chapter2/bg-stars-05-m.jpg);"></div>
<div class="page_section-inner">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-5 offset-md-7">
				<div class="chapter2-store-txt">
					<p class="txt txt-headline3 ">這些孩子感受到家人的創傷和情緒，對他們造成多方面的長期影響。</p>
				</div>
			</div>
		</div>
	</div>
</div>