
<div class="page_section-inner">
	<div class="container">
		<div class="page_section-heading text-center no-effect">
			<p class="title txt-section-title handwriting">
				他們可能會變得不一樣，像是功課退步、情緒起伏大、人際互動改變、不遵守規則、哭泣、驚嚇、憤怒、無助感、不知所措…等。<br>
				<br>
				甚至，有些孩子會認同這樣的暴力行為。
			</p>
		</div>
	</div>
</div>