
<div class="page_section-inner">
	<div class="container">
		<div class="page_section-heading text-center no-effect">
			<p class="title txt-section-title handwriting">感覺麻木、無法思考、對人變得疏離、容易受到驚嚇、容易生氣，甚至無法工作、無法與人正常互動。</p>
		</div>
	</div>
</div>