<div class="bg" style="background-image: url(public/images/header03_bg.jpg);"></div>
<div class="page_section-inner">

	<div class="page_section-heading text-center">
		<h2 class="title-txtimg hide_txt" style="background-image: url(public/images/header03_title.png);">點點星光</h2>
	</div>

</div>

<div class="narrate">
	<p class="txt txt-headline4 handwriting">每個良善，都是點點星光，微弱的光芒匯集在一起，就可以成為大大的力量！<br>讓點點星光陪伴每顆受傷的心，慢慢縫補傷口。</p>
</div>