<div class="bg" style="background-image: url(public/images/header04_bg.jpg);"></div>
<div class="page_section-inner">

	<div class="page_section-heading text-center">
		<h2 class="title-txtimg hide_txt" style="background-image: url(public/images/header04_title.png);">成為他們的光</h2>
	</div>

</div>

<div class="narrate pb-0">
	<p class="txt txt-headline4 handwriting">停下幾分鐘喘口氣，關心一件事情，可能就可以改變某個人的生命。<br>一個鼓勵、一句關懷，都能成為他們的光！</p>
	<div class="dialog_box">
		<div class="txt txt-headline3 handwriting txt-grey1">親愛的你，我想跟你說...</div>
		<div class="dialog_box-line">
			<div class="line"></div>
		</div>
	</div>
</div>
