<div class="page_section-inner">
	<div class="encourage">
		<div id="encourageSwiper1" class="swiper-container encourage-swiper mb-5">
			<ul class="lis-n encourage-list swiper-wrapper" data-itembg="public/images/epilogue/sticky-light-01@2x.png, public/images/epilogue/sticky-light-02@2x.png, public/images/epilogue/sticky-light-03@2x.png, public/images/epilogue/sticky-light-04@2x.png, public/images/epilogue/sticky-light-05@2x.png">
				<li class="encourage-item swiper-slide">
					<div class="inner">
						<div class="txt">你值得更好的！</div>
					</div>
				</li>
				<li class="encourage-item swiper-slide">
					<div class="inner">
						<div class="txt">這世界<br>還是有美好的存在<br>不管是多微笑的美好...</div>
					</div>
				</li>
				<li class="encourage-item swiper-slide">
					<div class="inner">
						<div class="txt">你是獨一無二的寶貝<br>沒人能剝奪你的<br>自由與生存權<br>好好愛自己，疼惜自己！</div>
					</div>
				</li>
				<li class="encourage-item swiper-slide">
					<div class="inner">
						<div class="txt">只要你每天<br>省下一杯珍珠奶茶的錢<br>十天之後我保證<br>你可以喝10杯奶茶。</div>
					</div>
				</li>
				<li class="encourage-item swiper-slide">
					<div class="inner">
						<div class="txt">當我閉上雙眼的時候<br>我就看不到。</div>
					</div>
				</li>
				<li class="encourage-item swiper-slide">
					<div class="inner">
						<div class="txt">當你放下身段<br>蹲得越久<br>你的腳...<br>就會越來越麻!</div>
					</div>
				</li>

				<li class="encourage-item swiper-slide">
					<div class="inner">
						<div class="txt">你值得更好的！</div>
					</div>
				</li>
				<li class="encourage-item swiper-slide">
					<div class="inner">
						<div class="txt">這世界<br>還是有美好的存在<br>不管是多微笑的美好...</div>
					</div>
				</li>
				<li class="encourage-item swiper-slide">
					<div class="inner">
						<div class="txt">你是獨一無二的寶貝<br>沒人能剝奪你的<br>自由與生存權<br>好好愛自己，疼惜自己！</div>
					</div>
				</li>
				<li class="encourage-item swiper-slide">
					<div class="inner">
						<div class="txt">只要你每天<br>省下一杯珍珠奶茶的錢<br>十天之後我保證<br>你可以喝10杯奶茶。</div>
					</div>
				</li>
				<li class="encourage-item swiper-slide">
					<div class="inner">
						<div class="txt">當我閉上雙眼的時候<br>我就看不到。</div>
					</div>
				</li>
				<li class="encourage-item swiper-slide">
					<div class="inner">
						<div class="txt">當你放下身段<br>蹲得越久<br>你的腳...<br>就會越來越麻!</div>
					</div>
				</li>

			</ul>
		</div>
		<div id="encourageSwiper2" class="swiper-container encourage-swiper">
			<ul class="lis-n encourage-list swiper-wrapper" data-itembg="public/images/epilogue/sticky-light-01@2x.png, public/images/epilogue/sticky-light-02@2x.png, public/images/epilogue/sticky-light-03@2x.png, public/images/epilogue/sticky-light-04@2x.png, public/images/epilogue/sticky-light-05@2x.png">
				<li class="encourage-item swiper-slide">
					<div class="inner">
						<div class="txt">你值得更好的！</div>
					</div>
				</li>
				<li class="encourage-item swiper-slide">
					<div class="inner">
						<div class="txt">這世界<br>還是有美好的存在<br>不管是多微笑的美好...</div>
					</div>
				</li>
				<li class="encourage-item swiper-slide">
					<div class="inner">
						<div class="txt">你是獨一無二的寶貝<br>沒人能剝奪你的<br>自由與生存權<br>好好愛自己，疼惜自己！</div>
					</div>
				</li>
				<li class="encourage-item swiper-slide">
					<div class="inner">
						<div class="txt">只要你每天<br>省下一杯珍珠奶茶的錢<br>十天之後我保證<br>你可以喝10杯奶茶。</div>
					</div>
				</li>
				<li class="encourage-item swiper-slide">
					<div class="inner">
						<div class="txt">當我閉上雙眼的時候<br>我就看不到。</div>
					</div>
				</li>
				<li class="encourage-item swiper-slide">
					<div class="inner">
						<div class="txt">當你放下身段<br>蹲得越久<br>你的腳...<br>就會越來越麻!</div>
					</div>
				</li>

				<li class="encourage-item swiper-slide">
					<div class="inner">
						<div class="txt">你值得更好的！</div>
					</div>
				</li>
				<li class="encourage-item swiper-slide">
					<div class="inner">
						<div class="txt">這世界<br>還是有美好的存在<br>不管是多微笑的美好...</div>
					</div>
				</li>
				<li class="encourage-item swiper-slide">
					<div class="inner">
						<div class="txt">你是獨一無二的寶貝<br>沒人能剝奪你的<br>自由與生存權<br>好好愛自己，疼惜自己！</div>
					</div>
				</li>
				<li class="encourage-item swiper-slide">
					<div class="inner">
						<div class="txt">只要你每天<br>省下一杯珍珠奶茶的錢<br>十天之後我保證<br>你可以喝10杯奶茶。</div>
					</div>
				</li>
				<li class="encourage-item swiper-slide">
					<div class="inner">
						<div class="txt">當我閉上雙眼的時候<br>我就看不到。</div>
					</div>
				</li>
				<li class="encourage-item swiper-slide">
					<div class="inner">
						<div class="txt">當你放下身段<br>蹲得越久<br>你的腳...<br>就會越來越麻!</div>
					</div>
				</li>

			</ul>
		</div>
		{# <ul class="lis-n encourage-list">
			<li class="encourage-item">
				<div class="inner">
					<div class="txt">你值得更好的！</div>
				</div>
			</li>
			<li class="encourage-item">
				<div class="inner">
					<div class="txt">這世界<br>還是有美好的存在<br>不管是多微笑的美好...</div>
				</div>
			</li>
			<li class="encourage-item">
				<div class="inner">
					<div class="txt">你是獨一無二的寶貝<br>沒人能剝奪你的<br>自由與生存權<br>好好愛自己，疼惜自己！</div>
				</div>
			</li>
			<li class="encourage-item">
				<div class="inner">
					<div class="txt">只要你每天<br>省下一杯珍珠奶茶的錢<br>十天之後我保證<br>你可以喝10杯奶茶。</div>
				</div>
			</li>
			<li class="encourage-item">
				<div class="inner">
					<div class="txt">當我閉上雙眼的時候<br>我就看不到。</div>
				</div>
			</li>
			<li class="encourage-item">
				<div class="inner">
					<div class="txt">當你放下身段<br>蹲得越久<br>你的腳...<br>就會越來越麻!</div>
				</div>
			</li>
		</ul> #}

		<div class="encourage-btns">
			<a href="javascript:;" class="link {{ PROJECT_NAME }}_btn {{ PROJECT_NAME }}_btn-nobg {{ PROJECT_NAME }}_btn-border" data-icon="{{IMG_PATH}}/svgicons/icon-btn.svg">
				<span class="txt">我要留言給受傷的內在小孩</span>
			</a>
			<a href="javascript:;" class="link {{ PROJECT_NAME }}_btn" data-icon="{{IMG_PATH}}/svgicons/icon-btn.svg">
				<span class="txt">我要成為撐住他們的光</span>
			</a>
		</div>
	</div>
</div>
