<footer class="site_footer">
	<div class="container">
		<div class="logo">
			<div class="logo-img">
				<a href="https://www.38.org.tw" target="_blank">
					<img src="{{IMG_PATH}}/logo.svg" alt="現代婦女基金會 Modern Women's Foundation">
				</a>
			</div>
		</div>
		<div class="site_info">
			<div class="row">
				<div class="col-12 col-md-7">
					<ul class="cf lis-n site_info-base">
						<li class="site_info-base-item">
							<div class="title">地址</div>
							<a href="https://www.google.com/maps/search/?api=1&query=台北市中正區羅斯福路一段7號7樓之一B室" target="_blank" class="txt">台北市中正區羅斯福路一段7號7樓之一B室</a>
						</li>
						<li class="site_info-base-item">
							<div class="title">電話</div>
							<a href="tel:02-2391-7133" target="_blank" class="txt">02-2391-7133</a>
						</li>
						<li class="site_info-base-item">
							<div class="title">傳真</div>
							<div class="txt">02-2391-7129</div>
						</li>
						<li class="site_info-base-item">
							<div class="title">信箱</div>
							<div class="txt">mwf.org@msa.hinet.net</div>
						</li>
					</ul>
				</div>
				<div class="col-12 col-md-5">
					<div class="site_info-other">
						<div class="title">指導單位</div>
						<div class="other_list txt-xs">
							<a href="https://www.mohw.gov.tw/" target="_blank" class="link_default txt">衛生福利部</a>、
							<a href="https://www.dvsa.gov.taipei/" target="_blank" class="link_default txt">臺北市家庭暴力暨性侵害防治中心</a>、
							<a href="https://www.dvp.ntpc.gov.tw/" target="_blank" class="link_default txt">新北市政府家庭暴力暨性侵害防治中心</a>
						</div>
					</div>
					<div class="site_info-other">
						<div class="title">公益夥伴</div>
						<div class="other_list txt-xs">
							<a href="https://www.fuboncharity.org.tw/" target="_blank" class="link_default txt">富邦慈善基金會</a>、
							<a href="http://www.taipeinewhorizon.com.tw/" target="_blank" class="link_default txt">臺北文創</a>、
							<a href="https://www.feds.com.tw/tw/54" target="_blank" class="link_default txt">Mega City 板橋大遠百</a>、
							<a href="javascript:;" target="_blank" class="link_default txt">承富創意整合行銷</a>、
							<a href="https://www.design-hu.com" target="_blank" class="link_default txt">鵠崙設計</a>
						</div>
					</div>
					<div class="copyright">
						<div class="txt txt-xs txt-grey2">Copyright © 2021 現代婦女基金會 - All Rights Reserved</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>