<header class="site_header">
    <div class="site_header-container container">
        <div class="site_logo">
            <div class="site_logo-img"><a href="./">
                <img src="{{IMG_PATH}}/logo.svg" alt="現代婦女基金會 Modern Women's Foundation">
            </a></div>
        </div>
        <nav class="site_header-menu">
            <ul class="cf lis-n txt-ff4">
                <li class="menu-item">
                    <a href="./" class="link">星星消失的夜晚</a>
                </li>
                <li class="menu-item">
                    <a href="chapter1.html" class="link">消失的星星</a>
                </li>
                <li class="menu-item">
                    <a href="chapter2.html" class="link">點點星光</a>
                </li>
                <li class="menu-item">
                    <a href="epilogue.html" class="link">成為他們的光</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="m_menu" id="m_menu" onclick="MWF_UI.mmenu().init();">
        <div class="group">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
            <div class="line4"></div>
        </div>
    </div>
</header>