<div class="bg" style="background-image: url(public/images/header01_bg.jpg);"></div>
<div class="page_section-inner">

	<div class="page_section-heading text-center">
		<h2 class="title-txtimg hide_txt" style="background-image: url(public/images/header01_title.png);">星星消失的夜晚</h2>
		{# <p class="txt txt-headline4">在星星消失的夜晚，每樣東西都變得好黑暗<br>在星星消失的夜晚，只有呼呼熊陪伴著我</p> #}
	</div>

</div>

<div class="narrate">
	<p class="txt txt-headline4 handwriting">在星星消失的夜晚，每樣東西都變得好黑暗<br>在星星消失的夜晚，只有呼呼熊陪伴著我</p>
</div>