<div class="bg" style="background-image: url(public/images/home-p-bg.jpg);"></div>
<div class="page_section-inner">
	<div class="inner-boy" style="background-image: url(public/images/home-p-1-boy.png);"></div>
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6">
				<div class="store-txt">
					<p class="txt txt-headline3 handwriting">我心中有個秘密，只能告訴我的呼呼熊，因為我知道，這個秘密不能告訴任何人；我每天都許願，好希望呼呼可以變成超人，帶著我和媽媽離開。</p>
				</div>
			</div>
		</div>
	</div>
</div>