
<div class="page_section-inner">
	<div class="container">
		<p class="txt txt-headline2 text-center handwriting">
			「誰可以帶我走？誰可以幫幫我和媽媽？」
			<br><br>
			在星星消失的夜晚，一切變得黑暗，<br>
			只有呼呼接住我的傷，安慰我的痛。
		</p>
	</div>
</div>