<div class="bg" style="background-image: url(public/images/home-p-bg.jpg);"></div>
<div class="page_section-inner">
	<div class="inner-boy" style="background-image: url(public/images/home-p-3-boy.png);"></div>
	<div class="inner-other" style="background-image: url(public/images/home-p-3-furniture.png);"></div>
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6">
				<div class="store-txt">
					<p class="txt txt-headline3 handwriting">我推開房門，眼前是凌亂的客廳，心愛的公仔碎了一地，<br>是不是都是我不乖、我不好，才讓媽媽受傷？<br>是不是這一切都是我害的？<br>我好怕媽媽就這樣不見了…</p>
				</div>
			</div>
		</div>
	</div>
</div>