<div class="bg" style="background-image: url(public/images/home-p-bg.jpg);"></div>
<div class="page_section-inner">
	<div class="inner-boy" style="background-image: url(public/images/home-p-2-fear.png);"></div>
	<div class="inner-other" style="background-image: url(public/images/home-p-2-violence.png);"></div>
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6">
				<div class="store-txt">
					<p class="txt txt-headline3 handwriting">門外又傳來恐怖的聲音，一聲聲的巴掌、媽媽的哭聲和求饒聲…<br><br>我好害怕，我緊緊抱著呼呼、摀住耳朵，不想聽到門外的叫罵。<br><br>緊閉雙眼，不敢看見門外的一切，我的微光星星又消失了。</p>
				</div>
			</div>
		</div>
	</div>
</div>