<div class="page_section-inner">

	<div class="thirty-years-hd">
		<div class="container">
			<h2 class="title txt-headline2 text-center txt-secondary1">三十多年來的陪伴 現代婦女基金會</h2>
			<div class="row">
				<div class="col-md-9">
					<ul class="cf lis-n thirty-years-accompany-list">
						<li class="thirty-years-accompany-item">
							<div class="inner">
								累了<br>
								我陪你好好休息<br>
								這裡的風景就很美麗
							</div>
						</li>
						<li class="thirty-years-accompany-item">
							<div class="inner">
								想哭<br>
								哭出來沒關係<br>
								這也是勇氣的展現
							</div>
						</li>
						<li class="thirty-years-accompany-item">
							<div class="inner">
								受傷了<br>
								我陪伴你縫補傷口<br>
								慢慢地、緩緩地<br>
								好好走過這一路風風雨雨
							</div>
						</li>
					</ul>
				</div>
				<div class="col-md-3">
					<div class="accompany-bear">
						<div class="img" style="background-image:url(public/images/chapter2/img-stars-01.png);"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="thirty-years-bd">
		<div class="container">
			<div class="row society">
				<div class="col-md-5">
					<div class="society-pic">
						<div class="img_div">
							<img src="public/images/chapter2/img-stars-02.jpg" alt="">
						</div>
					</div>
				</div>
				<div class="col-md-6 offset-md-1">
					<div class="society-article">
						<h3 class="title txt-headline3 txt-primary">三十多年來，<br>現代婦女基金會始終站在社會需要的角落。</h3>
						<p class="txt">
							每年陪伴近8000名長年受創的受暴媽媽，傷痛說不出口的孩子，協助他們在生命最困難的時刻，跨越創傷、長出力量。<br>
							我們希望，讓這些生命得以翻轉，家庭重獲安全，與您攜手改寫每一個創傷故事的結局！
						</p>
						<p class="txt">
							518，是在危難時刻「扶一把」，幫助受暴婦幼度過生命的困境
						</p>
						<a href="https://bit.ly/3oIR31a" target="_blank" class="link {{ PROJECT_NAME }}_btn {{ PROJECT_NAME }}_btn-nobg {{ PROJECT_NAME }}_btn-border" data-icon="{{IMG_PATH}}/svgicons/icon-btn.svg">
							<span class="txt">支持 518用愛守護</span>
						</a>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
